.playerSelect {
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    height: 40px;
    background-color: grey;
    color: black;
    font-style: bold;
    font-size: 1.2em;
    font-family: sans-serif;
}

.playerSelect:hover {
    animation: color 1000ms forwards;
}

#gameboard {
    margin: auto;
    width: 600px;
    background-color: black;
    border: 10px solid black;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.squares {
    flex: 1 0 auto;
    width: 170px;
    height: 170px;
    background-color: grey;
    margin: 10px;
    font-size: 8.5em;
    font-family: sans-serif;
}

.squares:hover {
    animation: color 1000ms forwards;
}

@keyframes color {
    100% {
        background-color: lightgrey;
    }
}

h1, h2 {
    font-size: 3em;
    text-align: center;
    font-family: sans-serif;
}